@import "tailwindcss";
@import "fadgram-ui";
@import "./theme.css";
@import "./utilities.css";
@import "./icons.css";
@import "./carousel.css";
@import "./cropper.css";
@source '../js/components/**/*.vue';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/talalalmrka/fgx/resources/views/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source not "../js/composables/options";

@layer base {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-color: var(--color-gray-200);
        @variant dark {
            border-color: var(--color-gray-700);
        }
    }
    body {
        @apply relative font-poppins;
        @apply antialiased;
        @apply text-gray-700 dark:text-gray-100;
        @apply bg-body-bg dark:bg-body-bg-dark;
    }
    .navbar {
        @apply !max-w-full;
    }
    pre {
        overflow: auto;
        font-size: 13px !important;
        font-family: var(--font-mono) !important;
        margin: 0 !important;
        padding: 0.7em !important;
        color: #f8f8f2;
        text-shadow: 0 1px #0000004d;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        hyphens: none;
        line-height: 1.5;
        background-color: #333;
    }
    .page-builder-container {
        @apply !p-0 border-dotted-red relative;
        height: calc(100vh - --spacing(14));
    }
    .choices__inner {
        @apply !form-control;
        @apply !text-xs !px-3 !py-1 !min-h-[auto];
    }
    .overview-card-icon {
        @apply text-3xl;
    }
}

@layer components {
    .card {
        @apply shadow-sm;
    }
    .card-header {
        @apply rounded-t-lg;
    }
    .card-footer {
        @apply rounded-b-lg;
    }
    .card-header,
    .card-footer {
        @apply bg-gray-50 dark:bg-gray-800;
    }

    .dashboard-sidebar {
        .nav-link {
            @apply pill;

            &.active,
            &:hover {
                @apply bg-black/20 text-white transition-colors;
            }
        }
    }

    .start-icon,
    .end-icon {
        @apply text-gray-600 dark:text-gray-300;
    }

    .categories-list {
        @apply list-none p-0;

        li {
            @apply list-none;

            ul {
                @apply ms-3 mb-0;
            }
        }
    }

    .divider {
        @apply border-b border-gray-200 dark:border-gray-700;
    }

    .sort {
        &.nested {
            @apply ms-3;
        }
    }

    .sort-item {
        @apply bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300;
        @apply rounded-lg border border-gray-200 dark:border-gray-700;
        @apply mb-3;
    }

    .sortable-ghost {
        opacity: 0.5 !important;
        background-color: var(--color-primary) !important;
        @apply rounded-lg;

        .sort-item {
            opacity: 0 !important;
        }
    }
    .mobile-offcanvas {
        @apply lg:hidden;
    }
    .mobile-menu {
        .dropdown {
            @apply relative w-full block m-0 p-0;
            .dropdown-toggle-label {
                @apply flex-space-1;
            }
        }
        .dropdown-menu {
            @apply !relative !w-full !max-w-full;
            @apply bg-transparent border-none shadow-none divide-y p-0 m-0;
            @apply hidden;
            &.show {
                @apply block;
            }
        }
    }
    .archive-filter-container {
        @apply relative w-40;
        .archive-filter-dropdown {
            @apply absolute z-20 w-full rounded-lg;
            @apply bg-white  dark:bg-gray-800 shadow;
            @apply mt-3;
            .dropdown-link {
                &.active {
                    @apply bg-primary text-bg-primary;
                }
                &:first-child {
                    @apply rounded-t-lg;
                }
                &:last-child {
                    @apply rounded-b-lg;
                }
            }
        }
    }
    .rating-bar {
        @apply flex-space-1;
        .icon {
            @apply text-gray-300 dark:text-gray-300;
            &.active {
                @apply text-orange dark:text-orange;
            }
        }
    }
}
