@import 'tailwindcss';
@import "fadgram-ui";
@import "./icons.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/talalalmrka/fgx/resources/views/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: Poppins, sans-serif;
}

@layer base {
    body {
        @apply relative font-poppins;
        @apply antialiased;
        @apply text-gray-700 dark:text-gray-100;
        @apply bg-white dark:bg-gray-900;
    }

    pre {
        overflow: auto;
        font-size: 13px !important;
        font-family: var(--font-mono) !important;
        margin: 0 !important;
        padding: .7em !important;
        color: #f8f8f2;
        text-shadow: 0 1px #0000004d;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        hyphens: none;
        line-height: 1.5;
        background-color: #333;
    }
}

@layer components {

    .dashboard-sidebar {
        .nav-link {
            @apply pill;

            &.active,
            &:hover {
                @apply bg-black/20 text-white transition-colors;
            }
        }
    }

    .start-icon,
    .end-icon {
        @apply text-gray-600 dark:text-gray-300;
    }

    .categories-list {
        @apply list-none p-0;

        li {
            @apply list-none;

            ul {
                @apply ms-3 mb-0;
            }
        }
    }

}