@import 'tailwindcss';
@import "fadgram-ui";
@import "./icons.css";
@source '../js/components/**/*.vue';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/talalalmrka/fgx/resources/views/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../vueform.config.js';
@source'../../node_modules/@vueform/vueform/themes/tailwind/**/*.vue';
@source'../../node_modules/@vueform/vueform/themes/tailwind/**/*.js';

@theme {
    --font-poppins: Poppins, sans-serif;
}

@layer base {
    body {
        @apply relative font-poppins;
        @apply antialiased;
        @apply text-gray-700 dark:text-gray-100;
        @apply bg-white dark:bg-gray-900;
    }

    pre {
        overflow: auto;
        font-size: 13px !important;
        font-family: var(--font-mono) !important;
        margin: 0 !important;
        padding: .7em !important;
        color: #f8f8f2;
        text-shadow: 0 1px #0000004d;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        hyphens: none;
        line-height: 1.5;
        background-color: #333;
    }
}

@layer components {
    .card {
        @apply shadow-sm;
    }

    .card-header,
    .card-footer {
        @apply bg-gray-50;
    }

    .link {
        @apply inline-flex flex-space-2;
        @apply text-blue dark:text-blue-500 no-underline hover:underline;
    }

    .dashboard-sidebar {
        .nav-link {
            @apply pill;

            &.active,
            &:hover {
                @apply bg-black/20 text-white transition-colors;
            }
        }
    }

    .start-icon,
    .end-icon {
        @apply text-gray-600 dark:text-gray-300;
    }

    .categories-list {
        @apply list-none p-0;

        li {
            @apply list-none;

            ul {
                @apply ms-3 mb-0;
            }
        }
    }

    .divider {
        @apply border-b border-gray-200 dark:border-gray-700;
    }

    /*.accordion {
        @apply bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300;
        @apply rounded-lg border border-gray-200 dark:border-gray-700;
        @apply shadow-sm;
        @apply divide-y divide-gray-200 dark:divide-gray-700;
    }

    .accordion-item {
        .accordion-header {
            @apply flex items-center justify-between w-full px-3 py-2 cursor-pointer text-left;
            @apply bg-gray-50 dark:bg-gray-800;
            @apply text-gray-600 dark:text-white;
        }

        .accordion-title {
            @apply text-gray-800 dark:text-white;
        }

        .accordion-icon {
            @apply w-5 h-5 text-gray-500 transform transition-transform duration-300;
        }

        .accordion-body {
            @apply text-gray-600 bg-gray-50 text-sm leading-relaxed;
            padding: var(--card-body-padding);
        }

        &.active {
            .accordion-header {
                @apply border-b border-gray-200 dark:border-gray-700;
            }

            .accordion-icon {
                @apply rotate-180;
            }
        }
    }*/

    .sort {
        &.nested {
            @apply ms-3;
        }
    }

    .sort-item {
        @apply bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300;
        @apply rounded-lg border border-gray-200 dark:border-gray-700;
        @apply mb-3;
    }

    .sortable-ghost {
        opacity: 0.5 !important;
        background-color: var(--color-primary) !important;
        @apply rounded-lg;

        .sort-item {
            opacity: 0 !important;
        }
    }
}
